<h2>{{title}}</h2>
<hr />
<h3>Meine Suchagenten</h3>
<table width="100%" border="1px">
  <thead>
    <tr>
      <th>Name</th>
      <th>Erstellt</th>
      <th>Optionen</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mein Suchagent</td>
      <td>12.01.2018</td>
      <td>
        <button class="btn-danger">-</button>
      </td>
    </tr>
    <tr>
      <td>Gitarristen</td>
      <td>14.01.2018</td>
      <td>
        <button class="btn-danger">-</button>
      </td>
    </tr>
  </tbody>
</table>
<br>
<br>
<hr />
<h3>Suchagenten erstellen</h3>
